body {
  box-sizing: border-box;
  padding: 36px 44px 0px 44px;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #282c34;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.header {
  margin-bottom: 48px;
}

.header img {
  width: 360px;
}

.controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px;
  border-style: groove;
  border-color: #3d4555;
}

.controls label {
  margin-right: 12px;
}

.controls .spacer {
  flex-grow: 1;
}

.controls button {
  margin-left: 16px;
}

.controls .portSelect {
  min-width: 86px;
}

.package {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 24px;
  padding: 10px;
  border: 2px;
  border-style: groove;
  border-color: #3d4555;
}

.package .bitGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.package .bitLabel {
  font-size: 0.8rem;
}
.package .bitSelect {
  height: 28px;
  width: 36px;
  margin: 8px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.outputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 24px;
  padding: 10px;
  border: 2px;
  border-style: groove;
  border-color: #3d4555;
}

.outputs .sendButton {
  margin-left: 16px;
}

footer {
  font-size: 0.7rem;
  color: #a5b1c7;
}
